<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Gulp 06</Title>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="Nodejs"><![CDATA[gulp.task('watcherCommon', function () {
  gulp.watch(['src/**/*'], ['letsgo']);
});

// #-- SNIPPET 7: Sequential watchers --#


]]></Code>
  </Snippet>
</CodeSnippet>